/* Global Styles */
body {
  margin: 0;
  background: #141414;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header Styles */
header {
  color: #ede5e5;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #000000; /* Corrected color code */
  border-bottom: solid 2px #060606;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

/* Todo List Styles */
.todo-list {
  background: #fff;
  width: 450px;
  margin: 70px auto;
  border-radius: 6px;
  overflow: hidden;
}

/* Item Styles */
.item {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  border-bottom: solid 2px #090909;
  letter-spacing: 2px;
}

.item-name {
  flex-grow: 1;
  line-height: 3.5em;
  color: #030303;
}

.remove-item {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #0f0f0f;
  cursor: pointer;
  margin: 0 1.5rem;
  padding: 0 0 3px 0;
  background: none;
  box-shadow: 0 0 .1rem #010101b1;
}

.remove-item:hover + .item-name {
  text-decoration: line-through;
}

/* Quantity Styles */
.quantity {
  display: grid;
  grid-template-areas:
    "QTY increment value"
    "QTY decrement value";
}

.qty-label, .increment, .decrement {
  color: #020202;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.8em;
}

.increment, .decrement {
  border: none;
  background-color: #fff;
  height: 100%;
  margin: 0 .5rem;
  padding: .33rem;
  width: 2rem;
  font-size: 1.1rem;
}

.increment:hover {
  background: #83D97C;
}

.decrement:hover {
  background: #EF5350;
}

.quantity-amount {
  color: #030303;
}

.increment {
  grid-area: increment;
  align-self: end;
}

.decrement {
  grid-area: decrement;
}

/* Quantity Amount Styles */
.quantity-amount {
  grid-area: value;
  align-self: center;
  font-family: monospace;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
}

/* App Container Styles */
.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 728px;
  height: 10vh;
  min-height: 50px;
  padding: 10px;
  z-index: 99;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
}

/* Main Content Styles */
main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* Scrollbar Styles */
main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* Form Styles */
form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}

/* Input Styles */
input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
}

/* Button Styles */
button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Sign-in Styles */
.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}

/* List and Paragraph Styles */
ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

/* Message Styles */
.message {
  display: flex;
  align-items: center;
}

.sent, .received p {
  flex-direction: row-reverse;
  align-self: flex-end;
  color: white;
  background: #0b93f6;
}

.received p {
  background: #e5e5ea;
  color: black;
}

/* Image Styles */
img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

/* Code Styles */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
